body
{
	background-color:#307D7E;
	font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Playpen Sans', cursive;
	color:#add8e6;
}
h2
{
	color:red
	font-size: 20px;
}
strong
{
	color:red
}